body{
    background-image: url(https://png.pngtree.com/background/20220731/original/pngtree-galaxy-star-dust-black-and-white-background-picture-image_1910929.jpg);
    font-family: 'Ysabeau Office', sans-serif;    
    color: #ADB6C4;
    text-align: justify;
    margin: 0;
    padding: 0;
}

/*navegacion*/

header{
    background-color: rgb(9, 53, 97);
    width: 100%;
    height: 1%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header nav{
    /*movimiento flexible*/
    width: 100%;
    margin: 0;
    padding: 0;
}

/*NAVEGACIÓN IZQUIERDA*/
header nav .nav-left-section {
    /*eliminar viñetas*/
    list-style: none;
    width: 240px;
    /*flexibilidad de movimiento*/
    display: flex;
    /*aliniar horizontalmente*/
    justify-content: flex-start;
    /*alinear verticalmente*/
    align-items: center;
    /*altura automática*/
    height: auto;
    margin: 0;
    padding: 0;
    float: left;
}
/*PNG.ASTONAUTA*/
nav .nav-left-section img{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    width: 100px;
    margin: 0;
}
/*LUPA*/
nav .nav-left-section .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-position: center;
    width: 15px;
    height: 15px;
    background-size: contain;
    padding-left: 6%;
    background-repeat: no-repeat;
}
/*CAJA*/
nav .nav-left-section .caja{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 25px;
    border-radius: 20px;
    background-color: white;
    border: 0;
    padding-left: 5px;
}
nav .nav-left-section .caja:hover{
    background-color:rgb(244, 236, 236);
    box-shadow: 0 0 15px 0 #20212447;
    border: none;
}
/*BARRA BUSCADORA*/
nav .nav-left-section .buscador{
    width: 200px;
    height: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
}
nav .nav-left-section .buscador:hover{
    background: inherit;
    color: darkslateblue;
    border: none;
}
/*NAVEGACIÓN DERECHA*/
header nav .nav-right-section {
    /*eliminar viñetas*/
    list-style: none;
    width: 240px;
    /*flexibilidad de movimiento*/
    display: flex;
    /*aliniar horizontalmente*/
    justify-content: space-around;
    /*alinear verticalmente*/
    align-items: center;
    /*altura automática*/
    text-align: center;
    height: auto;
    float: right;
    margin: 0;
}
nav .nav-right-section a{
    color: wheat;
    /*quitar subrayado*/
    text-decoration: none;
    /*margen*/
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 80px; 
}
/*más anchura en la ancla con texto largo "Imagen del día"*/
header nav .nav-right-section .dia{
    width: 120px;
}
/*MEDIDAS DE IMAGEN INCIAL*/
.atmosfera{
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 0;
}
/*TEXTO EN IMAGEN INICIAL*/
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    color: #909CC2;
    position: absolute;
    font-family: 'Shadows Into Light', cursive;
    text-shadow: 3px 1px 15px white;
    top: 95%;
    left: 80%;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Rubik Maze', cursive;
    color: #78bdef;
    font-size: 40px;
}
/*INDICE*/
.indice{
    float:center;
    background-color: dodgerblue;
    margin: 0;
    padding: 20px;
}
.tittle-indice{
    font-size: 50px;
    text-align: center;
}

.indices a{
    margin:0;
    color: beige;
    text-decoration: none;
}

.indices A:hover{
    color: turquoise;
}
/*IMAGENES EN LÍNEA*/
img{ 
    width: 200px;
    border-radius: 20px;
    inset: 0;
    margin-right: 15px;
    margin-left: 20px;
}
/*IMAGEN DE LA CARPETA*/
.nicole {
    width: 200;
    border-radius: 20px;
}
/*TÍTULO DE LOS PARRAFOS*/
.tittle-astrobiologia{
    display: flex;
    justify-content: right;
    font-size: 50px;
    font-family: 'Luckiest Guy', cursive;
    color: white;
    text-shadow: 1px 2px 3px black;
    margin-right: 40px;
}
.tittle-universo{
    text-align: right;
    font-size: 50px;
    font-family: 'Luckiest Guy', cursive;
    color: white;
    text-shadow: 1px 2px 3px black;
    margin-right: 40px;
}
.tittle-estrellas{
    text-align: right;
    font-size: 50px;  
    font-family: 'Luckiest Guy', cursive; 
    color: white;
    text-shadow: 1px 2px 3px black;
    margin-right: 40px;
}
/*MARGEN DE LOS PARRAFOS EN GENERAL*/
p{
    margin-left: 40px;
    margin-right: 40px;
    color: wheat;
}
/*IMAGEN ENTRE EL TEXTO*/
.image-universo{
    width: 30%;
    height: 30%;
    margin-top: 10px;
}
.image-estrellas{
    width: 30%;
    height: 40%;
}
.image-astrobiologia{
    width: 40%;
    height: 80%;
}
/*TARJETAS*/
.titulo-tarjetas{
    text-align: center;
    font-family: 'Luckiest Guy', cursive; 
    color: white;
    font-size: 50px;
}

/*SECCIÓN DONDE SE ENCUENTRAN LAS TARJETAS*/
.articulos{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.articulos div{
    width: 19%;
    height: 450px;
    background-color: #001B2E;
    border-radius: 15px;
    display: inline-block;
    margin-left: 30px;
}
/*recorrer tarjetas*/
.tarjeta5{
    margin-right: 35px;
}
.articulos h2{
    color: #909CC2;
    display: flex;
    justify-content: center;
    margin: 0;
}
.articulos p{
    color: #ADB6C4;
    text-align: justify;
    margin: 0, 10px;
}
.articulos img{
    margin: 10px;
}
.articulos button{
    height: 30px;
    background-color: #084887;    
    border-radius: 50px 20px;
    color: aliceblue;
    font-size: 15px;
    width: 110px;
    border-color: #00A6FB;
    box-shadow: 0 2px 1px turquoise;
}
.articulos button:hover{
    background-color: black;
    color: turquoise;
}

/*TÍTULO DE TOP ESTRELLAS MÁS MASIVAS*/
.top-estrellas{
    display: flex;
    justify-content: center;
    color: white;
    /*font-family: 'Ysabeau Office', sans-serif;*/
    font-family: 'Luckiest Guy', cursive; 
    font-size:50px ;
}
/*LISTA ORDENADA*/
.numeros{
    color: #EAE0D5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*TÍTULO DE TOP DE MISIONES ESPACIALES*/
.tittle-misiones{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Luckiest Guy', cursive; 
    font-size: 50px;
}
/*LISTA NO ORDENADA*/
.puntos{
    color: #EAE0D5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tittle-apolo{
    color: white;
    font-family: 'Luckiest Guy', cursive; 
    text-align: center;
    font-size: 50px;
}
.Apolo{
    color: #909CC2;
} 

/*2columnas del texto de misiones apolo*/
.misiones-nombre{
    columns: 2;
    color: #EAE0D5;
    text-align: center;
    list-style: none;
    margin-bottom: 10px;
}
/*CARRUSEL*/
.tittle-celestes{
    text-align: center;
    color: white;
    font-family: 'Luckiest Guy', cursive; 
    font-size: 50px;
}
/*IMAGENES*/
.planetas{
    width: 69%;
}
.nebulosas{
    width: 68%;
}
.agujeros{
    width: 77%;
}
/*TEXTO*/
.carousel p{
    color: white;
}

/*FORMULARIO*/
.formulario p{
    color: white;
}

/*ESCRITOS CON H2*/
.H2{
    font-size: 40px;
    font-family: 'Luckiest Guy', cursive; 
    color:white;
}
/*COLOCR DE LAS OPCIONES*/
.edad{
    text-align: center;
}
/*ESTILO DE BOTÓN*/
.boton{
    background-color: black;    
    border-radius: 50px 20px;
    color: aliceblue;
    font-size: 15px;
    width: 90px;
    border-color: #0422ff;
    box-shadow: 0 2px 1px turquoise;
}
.boton:hover{
    background-color: turquoise;
    color: black;
}
/*FORMULARIO LETRA Y ALINEACIÓN*/
.formulario{
    color: turquoise;
    text-align: center;
}
/*COLORES DE LAS OPCIONES*/
.one{
    color: #ADB6C4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.two{
    color: #00A6FB;
}
.opc1{
    color: #ADB6C4;
}
.opc2{
    color: #95abd4;
}
.opc3{
    color: #429fcd;
}
.opc4{
    color: #00A6FB;
}
.opc5{
    color: #0079fb; 
}
.opc6{
    color: #0422ff;
}
/*FOOTER*/
footer{
    background-color:  rgb(9, 53, 97);
    width: 100%;
    height: 1%;
    margin: 0;
    padding: 0;
}
footer .primera{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img{
    width: 50px;
    margin: 15px 10px;
}

footer .segunda{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    margin-top: 3px;
}
footer .segunda ul{
    list-style: none;
    width: 588px;
    /*permite justificar y alinear l*/
    display: flex;
    /*alinear horizontalmente dentro de la caja*/
    justify-content: center;
    /*alinar verticalmnete dentro de la caja*/
    align-items: center;
    /*altura automática*/
    height: auto;
}
footer .segunda ul li{
    margin-right: 15px;
    color: white;
}

footer .segunda ul li:hover{
    color: aqua;
    cursor: pointer;
}
footer .tercera{
    width: 100%;
    height: 1%;
    margin: 0;
    background-color: rgb(9, 53, 97);
}
footer .tercera p{
    text-align: right;
    color: aliceblue;
    margin: 0;
    padding-right: 1%;
}